body {
  margin: 0;
  background-color: #343434;
  color: #fff;
  font-family: monospace;
  -moz-user-select:none;
  -webkit-user-select:none;
}
canvas {
  display: block;
  position: absolute;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

canvas:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  /* background: #0069ed; */
  color: #ffffff;
  font-family: monospace;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  /* background: #0053ba; */
  transform: scale(1.05);
}

button:focus {
  outline: none;
  outline-offset: -4px;
}

button:active {
  transform: scale(1.02);
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 38px;
  border: 1px solid #1AA7BD;
  background-color: transparent;
  color: #1AA7BD;
  font-size: 30px;
  font-weight: 200;
  padding: 18px 42px 18px 33px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
}

a {
  color: #918a7f;
  text-decoration: none;
  font-weight: 300;

}

a:hover {
  color: #d39f3e;
  border-style: hidden;
}

.bottom-row {
  padding: 8px;
  padding-right: 40px;
  font-size: 18px;
  text-align: right;
}

.control-button {
  width: 2em;
  height: auto;
  opacity: 0.85;
  padding: 5px;
}

/* ==================================================== */
/* Header */
/* ==================================================== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* display: flex; */
  justify-content: center;
  /* padding: 40px 0; */
}

.logo {
  width:10em;
  height: auto;
  opacity: 1;
}

.logo:hover,
.logo:focus {
  /* background: #0053ba; */
  transform: scale(1.05);
}

.logo-text {
  font-family: monospace;
  text-transform: lowercase;
  color: #918a7f;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 3px;
}

/* About dropdown */
.accordion-body {
  background-color: #343434 !important;
  color: #918a7f;
}
.accordion-item {
  border-color: #343434 !important;
  background-color: #343434 !important;
}

.dropdown-button {
  background-color: #343434 !important;
  color: #918a7f;
}